.graf {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    font-size: 20px;
    border: 2px solid black;
}

@media screen and (max-width: 600px) {
    .graf {
        width: 100%;
    }
}