.iconoyh2 {
    display: flex;
    align-items: center;
    justify-content: space-around; /* Espacio uniforme entre los elementos */
    font-size: 1rem;
    padding: 0 2rem; /* Ajusta el espacio de los márgenes en lugar de los márgenes directamente */
  }
  
  .boton {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem; /* Tamaño del texto */
    text-align: center;
    cursor: pointer;
    color: #000000; /* Color del texto */
    border-radius: 5px; /* Bordes redondeados */
    transition: background-color 0.3s, co
  }  